.ClientFormContainer {
  color: white;
  text-align: center;
  border: 2px white solid;
  letter-spacing: 1px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .5);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
